
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Bagery - HTML 5 Şablon Önizleme</title>
    <link rel="icon" href="~/Bagery/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="~/Bagery/assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/flaticon.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/owl.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/animate.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/color.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/nice-select.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/global.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/style.css" rel="stylesheet">
    <link href="~/Bagery/assets/css/responsive.css" rel="stylesheet">
</head>

<body>

    <div class="boxed_wrapper">

        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">Yükleyici Kapat</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="B" class="letters-loading">
                                B
                            </span>
                            <span data-text-preloader="A" class="letters-loading">
                                A
                            </span>
                            <span data-text-preloader="G" class="letters-loading">
                                G
                            </span>
                            <span data-text-preloader="E" class="letters-loading">
                                E
                            </span>
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="Y" class="letters-loading">
                                Y
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-sidebar">
            <div class="xs-sidebar-group info-group info-sidebar">
                <ul class="social-links clearfix">
                    <li class="navSidebar-button"><i class="icon fas fa-shopping-basket"></i><span>Şimdi Al</span></li>
                    <li><a href="index.html"><i class="icon fab fa-facebook-f"></i><span>Facebook</span></a></li>
                    <li><a href="index.html"><i class="icon fab fa-twitter"></i><span>Twitter</span></a></li>
                    <li><a href="index.html"><i class="icon fab fa-google-plus-g"></i><span>Google+</span></a></li>
                </ul>
                <div class="xs-overlay xs-bg-black"></div>
                <div class="xs-sidebar-widget">
                    <div class="sidebar-widget-container">
                        <div class="sidebar-content">
                            <div class="single-box">
                                <div class="title-box">
                                    <h5>Yeni</h5>
                                </div>
                                <div class="single-item">
                                    <figure class="image"><a href="shop-details.html"><img src="~/Bagery/assets/images/resource/shop/product-1.jpg" alt=""></a></figure>
                                    <div class="item-name clearfix">
                                        <h6><a href="shop-details.html">Kahve Şefi</a></h6>
                                        <div class="bye-btn"><a href="shop-details.html">Şimdi Al</a></div>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image"><a href="shop-details.html"><img src="~/Bagery/assets/images/resource/shop/product-2.jpg" alt=""></a></figure>
                                    <div class="item-name clearfix">
                                        <h6><a href="shop-details.html">Fırın Ekmekleri</a></h6>
                                        <div class="bye-btn"><a href="shop-details.html">Şimdi Al</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-box">
                                <div class="title-box">
                                    <h5>En Popüler</h5>
                                </div>
                                <div class="single-item">
                                    <figure class="image"><a href="shop-details.html"><img src="~/Bagery/assets/images/resource/shop/product-3.jpg" alt=""></a></figure>
                                    <div class="item-name clearfix">
                                        <h6><a href="shop-details.html">Çikolatalı Kek</a></h6>
                                        <div class="bye-btn"><a href="shop-details.html">Şimdi Al</a></div>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image"><a href="shop-details.html"><img src="~/Bagery/assets/images/resource/shop/product-4.jpg" alt=""></a></figure>
                                    <div class="item-name clearfix">
                                        <h6><a href="shop-details.html">Fransız Kruvasanı</a></h6>
                                        <div class="bye-btn"><a href="shop-details.html">Şimdi Al</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-box">
                                <div class="title-box">
                                    <h5>En Çok Satan</h5>
                                </div>
                                <div class="single-item">
                                    <figure class="image"><a href="shop-details.html"><img src="~/Bagery/assets/images/resource/shop/product-5.jpg" alt=""></a></figure>
                                    <div class="item-name clearfix">
                                        <h6><a href="shop-details.html">Donut Kek</a></h6>
                                        <div class="bye-btn"><a href="shop-details.html">Şimdi Al</a></div>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image"><a href="shop-details.html"><img src="~/Bagery/assets/images/resource/shop/product-6.jpg" alt=""></a></figure>
                                    <div class="item-name clearfix">
                                        <h6><a href="shop-details.html">Dondurma</a></h6>
                                        <div class="bye-btn"><a href="shop-details.html">Şimdi Al</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="main-header style-one">

            <!-- header-lower -->
            <div class="header-lower">
                <div class="outer-box">
                    <div class="logo-box">
                        <figure class="logo"><a href="index.html"><img src="~/Bagery/assets/images/logo.png" alt=""></a></figure>
                    </div>
                    <div class="menu-area">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown">
                                        <a href="index.html">Ana Sayfa</a>
                                        <ul>
                                            <li><a href="index.html">Dondurma Dükkanı</a></li>
                                            <li><a href="index-2.html">Pasta Dükkanı</a></li>
                                            <li><a href="index-3.html">Kahve Dükkanı</a></li>
                                            <li><a href="index-4.html">Ekmek Dükkanı</a></li>
                                            <li><a href="index-onepage.html">Tek Sayfa Ana Sayfa</a></li>
                                            <li><a href="index-rtl.html">RTL Ana Sayfa</a></li>
                                            <li class="dropdown">
                                                <a href="index.html">Başlık Stili</a>
                                                <ul>
                                                    <li><a href="index.html">Başlık Stili 01</a></li>
                                                    <li><a href="index-2.html">Başlık Stili 02</a></li>
                                                    <li><a href="index-3.html">Başlık Stili 03</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="index.html">Mağaza</a>
                                        <ul>
                                            <li><a href="shop-1.html">Mağaza Sayfa 01</a></li>
                                            <li><a href="shop-2.html">Mağaza Sayfa 02</a></li>
                                            <li><a href="shop-details.html">Mağaza Detayları</a></li>
                                            <li><a href="cart.html">Sepet Sayfası</a></li>
                                            <li><a href="checkout.html">Ödeme Sayfası</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="index.html">Sayfalar</a>
                                        <ul>
                                            <li><a href="about.html">Hakkımızda</a></li>
                                            <li><a href="service.html">Hizmetlerimiz</a></li>
                                            <li><a href="gallery-1.html">Galeri Sayfa 01</a></li>
                                            <li><a href="gallery-2.html">Galeri Sayfa 02</a></li>
                                            <li><a href="gallery-3.html">Galeri Sayfa 03</a></li>
                                            <li><a href="team.html">Ekibimiz</a></li>
                                            <li><a href="our-menu.html">Menümüz</a></li>
                                            <li><a href="testimonial.html">Referanslar</a></li>
                                            <li><a href="faq.html">S.S.S.</a></li>
                                            <li><a href="error.html">404</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="index.html">Öğeler</a>
                                        <div class="megamenu">
                                            <div class="row clearfix">
                                                <div class="col-xl-6 col-lg-12 col-md-12 column">
                                                    <ul>
                                                        <li><h4>Öğeler 1</h4></li>
                                                        <li><a href="about-element-1.html">Hakkında Bloğu 01</a></li>
                                                        <li><a href="about-element-2.html">Hakkında Bloğu 02</a></li>
                                                        <li><a href="service-element-1.html">Hizmet Bloğu 01</a></li>
                                                        <li><a href="service-element-2.html">Hizmet Bloğu 02</a></li>
                                                        <li><a href="shop-element-1.html">Mağaza Bloğu 01</a></li>
                                                        <li><a href="shop-element-2.html">Mağaza Bloğu 02</a></li>
                                                        <li><a href="news-element-1.html">Haber Bloğu 01</a></li>
                                                        <li><a href="news-element-2.html">Haber Bloğu 02</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-xl-6 col-lg-12 col-md-12 column">
                                                    <ul>
                                                        <li><h4>Öğeler 2</h4></li>
                                                        <li><a href="feature-element-1.html">Özellik Bloğu 01</a></li>
                                                        <li><a href="feature-element-2.html">Özellik Bloğu 02</a></li>
                                                        <li><a href="project-element-1.html">Proje Bloğu 01</a></li>
                                                        <li><a href="project-element-2.html">Proje Bloğu 02</a></li>
                                                        <li><a href="team-element-1.html">Ekip Bloğu 01</a></li>
                                                        <li><a href="team-element-2.html">Ekip Bloğu 02</a></li>
                                                        <li><a href="testimonial-element.html">Referans Bloğu</a></li>
                                                        <li><a href="clients-element.html">Müşteriler Bloğu</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a href="index.html">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Izgara</a></li>
                                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                            <li><a href="blog-standard.html">Blog Standart</a></li>
                                            <li><a href="blog-details.html">Blog Detayları</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">İletişim</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <ul class="menu-right-content clearfix">
                        <li class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn" style="background-image: url(~/Bagery/assets/images/icons/icon-bg-1.png);" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-Search"></i></button>
                                <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
                                    <div class="form-container">
                                        <form method="post" action="blog.html">
                                            <div class="form-group">
                                                <input type="search" name="search-field" value="" placeholder="Ara...." required="">
                                                <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="user-btn">
                            <a href="index.html" style="background-image: url(~/Bagery/assets/images/icons/icon-bg-1.png);">
                                <i class="icon-Profile"></i>
                            </a>
                        </li>
                        <li class="cart-btn">
                            <a href="/Home/Checkout" style="background-image: url(~/Bagery/assets/images/icons/icon-bg-1.png);">
                                <i class="icon-Bag"></i>
                                <span class="basket-count-nav">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="outer-box">
                    <div class="logo-box">
                        <figure class="logo"><a href="index.html"><img src="~/Bagery/assets/images/small-logo.png" alt=""></a></figure>
                    </div>
                    <div class="menu-area">
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>
                    </div>
                    <ul class="menu-right-content clearfix">
                        <li class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn" style="background-image: url(~/Bagery/assets/images/icons/icon-bg-1.png);" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-Search"></i></button>
                                <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
                                    <div class="form-container">
                                        <form method="post" action="blog.html">
                                            <div class="form-group">
                                                <input type="search" name="search-field" value="" placeholder="Ara...." required="">
                                                <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="user-btn">
                            <a href="index.html" style="background-image: url(~/Bagery/assets/images/icons/icon-bg-1.png);">
                                <i class="icon-Profile"></i>
                            </a>
                        </li>
                        <li class="cart-btn">
                            <a href="/Home/Checkout" style="background-image: url(~/Bagery/assets/images/icons/icon-bg-1.png);">
                                <i class="icon-Bag"></i>
                                <span class="basket-count-nav">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="~/Bagery/assets/images/logo-3.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>İletişim Bilgileri</h4>
                    <ul>
                        <li>Chicago 12, Melborne Şehri, ABD</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        @RenderBody()
       
    </div>

    <script src="~/Bagery/assets/js/jquery.js"></script>
    <script src="~/Bagery/assets/js/popper.min.js"></script>
    <script src="~/Bagery/assets/js/bootstrap.min.js"></script>
    <script src="~/Bagery/assets/js/owl.js"></script>
    <script src="~/Bagery/assets/js/wow.js"></script>
    <script src="~/Bagery/assets/js/validation.js"></script>
    <script src="~/Bagery/assets/js/jquery.fancybox.js"></script>
    <script src="~/Bagery/assets/js/appear.js"></script>
    <script src="~/Bagery/assets/js/jquery.countTo.js"></script>
    <script src="~/Bagery/assets/js/scrollbar.js"></script>
    <script src="~/Bagery/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Bagery/assets/js/nav-tool.js"></script>
    <script src="~/Bagery/assets/js/script.js"></script>
    <script>
        $(document).ready(function () {
            // Sepet sayısını sayfadaki TÜM ilgili alanlarda güncelleyen yardımcı fonksiyon
            function refreshBasketVisual(count) {
                $('.basket-count-nav').fadeOut(200, function() {
                    $(this).text(count).fadeIn(200);
                });
            }

            // 1. Sayfa yüklendiğinde sayıyı getir
            function updateBasketCount() {
                $.get('/Basket/GetBasketCount', function (count) {
                    refreshBasketVisual(count);
                });
            }
            updateBasketCount();

            // 2. Sepete ekleme AJAX
            $(document).on('click', '.btn-add-basket', function (e) {
                e.preventDefault();
                var productId = $(this).data('id');
                var btn = $(this); // Tıklanan butonu referans al

                $.ajax({
                    url: '/Basket/AddToBasket',
                    type: 'POST',
                    data: { id: productId },
                    success: function (response) {
                        if (response.success) {
                            // Sayfadaki tüm sepet ikonlarını güncelle
                            refreshBasketVisual(response.count);

                            Swal.fire({
                                toast: true,
                                position: 'top-end',
                                icon: 'success',
                                title: 'Sepete Eklendi',
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true
                            });
                        }
                    },
                    error: function () {
                        console.error("Sepete ekleme sırasında sunucu hatası oluştu.");
                    }
                });
            });

            // 3. Sepet ikonu yönlendirmesi
            $(document).on('click', '.cart-btn a', function (e) {
                var url = $(this).attr('href');
                if (url && url !== '#' && url !== 'javascript:void(0)') {
                    e.preventDefault();
                    window.location.href = url;
                }
            });
        });
    </script>
</body>
</html>
