@model List<Slider>

<section class="banner-section style-one">
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none nav-style-one">
        @foreach (var item in Model)
        {
            <div class="slide-item">
                <div class="image-layer" style="background-image:url(/Bagery/assets/images/banner/banner-1.jpg)"></div>
                <div class="anim-icon">
                    <div class="icon icon-1" style="background-image: url(/Bagery/assets/images/icons/anim-icon-1.png);"></div>
                    <div class="icon icon-2" style="background-image: url(/Bagery/assets/images/icons/anim-icon-2.png);"></div>
                    <div class="icon icon-3" style="background-image: url(/Bagery/assets/images/icons/anim-icon-3.png);"></div>
                    <div class="icon icon-4" style="background-image: url(/Bagery/assets/images/shape/shape-1.png);"></div>
                    <div class="icon icon-5" style="background-image: url(/Bagery/assets/images/shape/shape-2.png);"></div>
                </div>
                <div class="auto-container">
                    <div class="content-inner">
                        <div class="content-box">
                            <h1>@item.Title</h1>
                            <p>@item.Description</p>
                            <div class="btn-box">
                                <a href="index.html" class="banner-btn">Şimdi Keşfet</a>
                            </div>
                        </div>
                        <figure class="image-box style-one">
                            <img src="@item.ImageUrl" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        }
        @* <div class="slide-item">
            <div class="image-layer" style="background-image:url(~/Bagery/assets/images/banner/banner-2.jpg)"></div>
            <div class="anim-icon">
                <div class="icon icon-4" style="background-image: url(~/Bagery/assets/images/shape/shape-1.png);"></div>
                <div class="icon icon-5" style="background-image: url(~/Bagery/assets/images/shape/shape-2.png);"></div>
                <div class="icon icon-6 rotate-me" style="background-image: url(~/Bagery/assets/images/shape/shape-3.png);"></div>
            </div>
            <div class="auto-container">
                <div class="content-inner">
                    <div class="content-box">
                        <h1>Eski Güzel Günlerden Lezzet.</h1>
                        <p>Avrupa Yerli Halkı Tarafından Keşfedilen Trend – Renkli Makaronlar!</p>
                        <div class="btn-box">
                            <a href="index.html" class="banner-btn">Şimdi Keşfet</a>
                        </div>
                    </div>
                    <figure class="image-box style-two"><img src="~/Bagery/assets/images/banner/banner-image-2.png" alt=""></figure>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(~/Bagery/assets/images/banner/banner-3.jpg)"></div>
            <div class="anim-icon">
                <div class="icon icon-1" style="background-image: url(~/Bagery/assets/images/icons/anim-icon-1.png);"></div>
                <div class="icon icon-2" style="background-image: url(~/Bagery/assets/images/icons/anim-icon-2.png);"></div>
                <div class="icon icon-3" style="background-image: url(~/Bagery/assets/images/icons/anim-icon-3.png);"></div>
                <div class="icon icon-4" style="background-image: url(~/Bagery/assets/images/shape/shape-1.png);"></div>
                <div class="icon icon-5" style="background-image: url(~/Bagery/assets/images/shape/shape-2.png);"></div>
            </div>
            <div class="auto-container">
                <div class="content-inner">
                    <div class="content-box">
                        <h1>Eski Güzel Günlerden Lezzet.</h1>
                        <p>Avrupa Yerli Halkı Tarafından Keşfedilen Trend – Renkli Makaronlar!</p>
                        <div class="btn-box">
                            <a href="index.html" class="banner-btn">Şimdi Keşfet</a>
                        </div>
                    </div>
                    <figure class="image-box style-one"><img src="~/Bagery/assets/images/banner/banner-image-3.png" alt=""></figure>
                </div>
            </div>
        </div> *@

    </div>
</section>