@model CreateContactCommand

<div class="col-lg-8 col-md-6 col-sm-12 form-column">
    <div class="form-inner">
        <h3>Bize Mesaj Gönderin</h3>
        <form method="post" id="contact-form" class="default-form" asp-controller="Home" asp-action="SendMessage">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                    <input type="text" asp-for="NameSurname" placeholder="Adınız Soyadınız *" required="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                    <input type="email" asp-for="Email" placeholder="E-posta Adresiniz *" required="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                    <input type="text" asp-for="Phone" placeholder="Telefon Numaranız">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                    <input type="text" asp-for="Subject" placeholder="Konu">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <textarea asp-for="MessageContent" placeholder="Mesajınız..."></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                    <button class="theme-btn-one" type="submit" name="submit-form">Şimdi Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>